
body {
    font-family: 'Vollkorn', serif;
    padding-top: 20px;
}
h1 {
    font-family: 'Vollkorn', serif;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.content {
    font-size: 20px;
}